@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    user-select: none; 
    font-family: "Poppins", sans-serif; 
}

.title {
    font-size: 5vh;
    margin-bottom: 0;
}

.infoBlock {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    width: 80vw;
    color: white;
    padding: 3vh;
    border-radius: 3vh;
    display: grid;
    grid-template-columns: 35% 30% 30%;
    column-gap: 2vw;
    padding-left: 3vw;
    box-sizing: border-box;
}

iframe {
    border: none;
    border-radius: 1vh;
    height: 30vh;
    width: 20vw;
}

.roomsBlock {
    display: flex;
    flex-direction: column;
    width: 80vw;
    row-gap: 5vh;
    padding-top: 5vh;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 5vh;
}

.hostelImage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
    border-radius: 1.5vh;
}

.image {
    width: 30vw;
}

.roomTitle {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    padding: 2vh;
    color: white;
    border-radius: 1.5vh;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    width: 80vw;
    box-sizing: border-box;
    padding-left: 3vw;
}