.body {
    height: 90vh;
    padding: 5vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
    width: 80vw;
    background-color: #E0EAED;
}

.addRoomForm {
    width: 20vw;
    padding: 5vh;
    border-radius: 1vh;
    background-color: #517889;
    color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.updateRoomForm {
    width: 20vw;
    padding: 5vh;
    border-radius: 1vh;
    background-color: #517889;
    color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    height: fit-content;
}

.title {
    margin-bottom: 5vh;
    margin-top: 0;
    margin-left: 1vw;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2vw;
}

.addRoomTitle {
    margin-top: 0;
    border-bottom: 0.2vh solid white;
    font-size: 3vh;
}

.inputField {
    margin-bottom: 1vh;
    height: 2.5vh;
    font-family: "Poppins", sans-serif;
    font-size: 2vh;
    border: none;
    border-radius: 0.3vh;
    width: 20vw;
}

.inputLabel {
    font-size: 2vh;
}

.addRoomButton {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 1vh;
    font-size: 2vh;
    width: 20vw;
    height: 5vh;
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    color: white;
    background-size: 200% auto;
    transition: 0.5s;
    border-radius: 0.5vh;
}

.addRoomButton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;       
    cursor: pointer;
}

.image {
    width: 20vw;
}

.roomImage {
    height: 30vh;
    width: 20vw;
    overflow: hidden;
}