@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.outbox {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: 2vh;
    user-select: none;
    border-radius: 1vh;
    padding: 2vh;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.outbox:hover {
    background-color: #F93943;
    transition: background-color 0.3s ease-in-out;
}

.leftbox {
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    height: 20vh;
    overflow: hidden;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 1.5vh;
}

.image {
    width: 15vw;
}

.location {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.name {
    color: black;
    margin-bottom: 0;
}

.mobile {
    color: black;
}