@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.outbox {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: 2vh;
    user-select: none;
    border-radius: 1vh;
    padding: 2vh;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 0 0.5vh black;
}

@media (max-aspect-ratio: 1 ) {
    .outbox {
        flex-direction: column;
        width: 90vw;
        height: fit-content;
    }
}

.outbox:hover {
    background-color: #F93943;
    transition: background-color 0.3s ease-in-out;
    .name {
        color: white;
    }
    .location {
        color: white;
    }
    .mobile {
        color: white;
    }
}


.leftbox {
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    height: 20vh;
    width: 15vw;
    overflow: hidden;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 1.5vh;
}

@media (max-aspect-ratio: 1 ) {
    .leftbox {
        height: 15vh;
        width: 70vw;
    }
}

.rightbox {
    height: 20vh;
    width: 30vw;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-aspect-ratio: 1 ) {
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
}

.map {
    height: 20vh;
    width: 15vw;
    @media (max-aspect-ratio: 1 ) {
        height: 15vh;
        width: 70vw;
    }
}

.image {
    width: 17vw;
    @media (max-aspect-ratio: 1 ) {
        width: 80vw;
    }
}

.location {
    color: black;
    font-weight: normal;
    font-size: 2.5vh;
    margin-top: 0;
    margin-bottom: 0;
    @media (max-aspect-ratio: 1 ) {
        font-size: 1.9vh;
    }
}

.name {
    color: black;
    margin-bottom: 0;
    font-size: 3vh;
    margin-top: 0;
}

.mobile {
    color: black;
    font-size: 2vh;
    @media (max-aspect-ratio: 1 ) {
        margin: 0;
    }
}