.body {
    height: 90vh;
    display: flex;
    padding: 5vh;
    box-sizing: border-box;
    width: 80vw;
    overflow: scroll;
    column-gap: 5vw;
    background-color: #E0EAED;
}

@media (max-aspect-ratio: 1 ) {
    .body {
        width: 100vw;
        flex-direction: column;
        padding: 2vw;
        align-items: center;
    }
}