@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    background-color: #c5ced1;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    font-family: "Poppins", sans-serif;
    @media (max-aspect-ratio: 1 ) {
        padding: 2vh;
    } 
}

.topBar {
    background-color: #c5ced1;
    height: 8vh;
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.rightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    user-select: none;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.searchBar {
    background-color: white;
    border: 2px solid rgb(196, 196, 196);
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60vw;
    border-radius: 30px / 50%;
    height: 6vh;
    box-sizing: border-box;
    @media (max-aspect-ratio: 1 ) {
        width: 90vw;
        border-radius: 2.9vh / 50%;
        height: 5vh;
        justify-content: space-evenly;
    }
}

.searchLogo {
    height: 4.5vh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.search {
    height: 3.5vh;
    width: 30vw;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.7vh;
    margin-right: 10vw;
    background-color: white;
}

.search:focus {
    outline: none;
}

.filters {
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c5ced1;
    border-radius: 17px / 50%;
    height: 3.5vh;
    width: 7vw;
    color: black;
    border: 2px solid rgb(196, 196, 196);
    margin-right: 1vw;
    box-sizing: border-box;
    font-weight: bold;
    @media (max-aspect-ratio: 1 ) {
        display: none;
    }
}

.filters:hover {
    cursor: pointer;
}

.filtersLogo {
    height: 3vh;
    margin-right: 0.5vw;
}
.searchButton {
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 31, 31);
    border-radius: 17px / 50%;
    height: 3.5vh;
    width: 7vw;
    color: white;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.7vh;
    font-weight: bold;
    cursor: pointer;
    @media (max-aspect-ratio: 1 ) {
        width: fit-content;
        border-radius: 3vw / 50%;
        padding: 1vh;
    }
}

